// ブレークポイント
// $pc: ;
// $tab: ;
// $sp: ;




// カラー
$base-c: #f7f1ea;
$main-c: #E8DDCB;
$sect-c: #C9A878;
$text-c: #6c6c70;
$subtx-c: #a7a098;
$acce-c: #8FAFC3;
$subac-c: #3F5968;
$cta-c: #5A3E2B;
$border-c: #D8D0C3;