// ブレークポイント
// $pc: ;
$tab: 968px;
$tab2: 830px;
$tab4: 700px;
$tab5: 657px;
$tab3: 650px;
// $sp: ;
$sp: 480px;




// カラー
$base-c: #f7f1ea;
$main-c: #E8DDCB;
$sect-c: #C9A878;
$text-c: #6c6c70;
$subtx-c: #a7a098;
$acce-c: #8FAFC3;
$subac-c: #3F5968;
$cta-c: #5A3E2B;
$border-c: #D8D0C3;