---
---

<section class="section" id="concept">
  <div class="inner">
    <div class="section-title">
      <h2 class="title">想い</h2>
    </div>
    <div class="concept-area">
      <h3 class="concept-area-title">
        “離れず、集う” <br />
        そんな旅の時間をつくる。
      </h3>
      <p class="text">
        ICHI 縁は、富士山を望む場所に佇む宿泊施設です。
      </p>
      <p class="text">
        動物同伴型の一棟貸切古民家宿として、犬や猫、小さな動物たちも迎えています。
      </p>
      <p class="text">
        「旅に、家族を置き去りにしない」
        <br />
        大切な存在と同じ景色を見て、同じ時間を過ごす。
      </p>
      <p class="text">
        “離れず、集う” 
        <br />
        そんな家族の旅をかたちにします。
      </p>
    </div>
    <a href="https://ichi-fuji.jp/concept/" class="view-more">もっと見る</a>
  </div>
</section>

<style lang="scss">
  @use '../styles/variables' as *;
  @use '../styles/mixins' as *;

  .text {
    font-size: clamp(0.6rem, 5vw, 0.8rem);
    letter-spacing: 0.2em;
  }

  .view-more {
    display: block;
    text-align: center;
    max-width: 200px;
    width: 100%;
    margin-top: 40px;
    padding: 10px 40px;
    background-color: #ffffff;
  }

  .view-more:hover {
    
  }
</style>