---
import { Icon } from 'astro-icon/components';
---

<section class="contact">
  <a class="contact-link" href="https://docs.google.com/forms/d/e/1FAIpQLSfxHNysRIBB-dGptKQ9B96wbJuGlSU4warDkklX6_US7WnQXQ/viewform" target="_blank">
    <div class="contact-title">
      <Icon class="contact-icon" name="material-symbols-light:mail" />
      <h2 class="title">お問い合わせはこちら</h2>
    </div>
  </a>
</section>

<!---------------------------- styles --------------------------------->


<style lang="scss">
  @use '../styles/variables' as *;
  @use '../styles/mixins' as *;

  .contact {
    margin: 0 auto;
    padding: 0 5.66% 10px;
  }

  .contact-link {
    padding: 0 10% 0;
  }

  .contact-link:hover {

  }

  .contact-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 160px;
    gap: 2%;
    background-color: #ffffff;
  }

  .contact-icon {
    width: 30px;
    height: 30px;
  }
</style>