---
import { Image } from 'astro:assets';

import item1 from '../assets/images/item08.jpg';
import item2 from '../assets/images/item09.jpg';
---

<section class="section" id="foods">
  <div class="inner">
    <div class="section-title">
      <h2 class="title">お食事</h2>
    </div>
    <div class="content-area">
      <ul class="foods-list">
        <li class="food-item">
          <figure class="food-img-wrap">
            <Image src={ item1 } alt="" />
          </figure>
          <h3 class="room-title">ICHIの特別すき焼き</h3>
        </li>
        <li class="food-item">
          <figure class="food-img-wrap">
            <Image src={ item2 } alt="" />
          </figure>
          <h3 class="room-title">ICHIのオリジナル朝食</h3>
        </li>
      </ul>
      <a href="https://ichi-fuji.jp/food/" class="btn view-more" target="_blank">お食事について詳しく見る</a>
    </div>
  </div>
</section>

<style lang="scss">
  @use '../styles/variables' as *;
  @use '../styles/mixins' as *;
</style>