---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';

import Logo from '../assets/images/logo.svg';
---

<footer class="footer">
  <div class="footer-inner">
      <div class="company-wrap">
        <p class="company-name">ICHI 緑</p>
        <adress class="company-adress">
          〒401-0305 <br />
          山梨県南都留郡富士河口湖町大石1473-1
        </adress>
      </div>
      <ul class="sns-list">
        <li class="sns-item">
          <a class="sns-link" href="https://www.instagram.com/ichi_hotels/" target="_blank">
            <Icon class="sns-icon" name="simple-icons:instagram" />
          </a>
        </li>
        <li class="sns-item">
          <a class="sns-link" href="https://docs.google.com/forms/d/e/1FAIpQLSfxHNysRIBB-dGptKQ9B96wbJuGlSU4warDkklX6_US7WnQXQ/viewform" target="_blank">
            <Icon class="sns-icon" name="material-symbols:mail-outline" />
          </a>
        </li>
      </ul>
  </div>
  <a href="" class="footer-logo">
    <Image class="footer-logo-img" src={ Logo } alt="ICHI 緑" />
  </a>
  <small class="copyright">&copy; 2026  ICHI 緑</small>
</footer>

<style lang="scss">
  @use '../styles/variables' as *;
  @use '../styles/mixins' as *;

  .footer {
    padding: 40px 5.66%;
  }

  .footer-inner {
    display: flex;
    justify-content: space-between;
  }

  .sns-list {
    display: flex;
    gap: 18px;
  }

  .sns-icon {
    width: 15px;
    height: 15px;
  }

  .footer-logo {
    display: flex;
    justify-content: center;
    max-width: 200px;
    margin: 50px auto 0;
  }

  .footer:hover {
    opacity: 0.8;
  }

  .footer-logo-img {
    width: 100px;
    height: 50px;
  }

  .copyright {
    display: flex;
    justify-content: center;
    border-top: 1px solid $text-c;
    margin-top: 20px;
    padding-top: 10px;
  }

  @include sp {
    .footer-inner {
      flex-direction: column;
    }
  }
</style>