---
---

<section class="hero">
  
</section>

<style lang="scss">
  @use '../styles/variables' as *;
  @use '../styles/mixins' as *;

  .hero {
    min-height: 100svh;
    width: 100%;
    background-color: rgb(70, 95, 95); // 仮
  }
</style>