---
---

<section class="section" id="info">
  <div class="inner">
    <div class="section-title">
      <h2 class="title">基本情報</h2>
    </div>
    <dl class="content-area">
      <dt class="label">
        施設名
      </dt>
      <dd class="name">
        ICHI 緑
      </dd>
      <dt class="label">
        住所
      </dt>
      <dd class="name">
        〒401-0305山梨県南都留郡富士河口湖町大石1473-1
      </dd>
      <dt class="label">
        電話番号
      </dt>
      <dd class="name">
        090-2507-2236
      </dd>
      <dt class="label">
        チェックイン
      </dt>
      <dd class="name">
        15:00（最終チェックイン：18:00）
      </dd>
      <dt class="label">
        チェックアウト
      </dt>
      <dd class="name">
        11:00
      </dd>
      <dt class="label">
        駐車場
      </dt>
      <dd class="name">
        あり 3台無料
      </dd>
    </dl>
  </div>
</section>

<style lang="scss">
  @use '../styles/variables' as *;
  @use '../styles/mixins' as *;


</style>