---
import { Icon } from 'astro-icon/components';
---

<section class="reserve" id="reserve">
  <a class="reserve-link" href="https://ichi-fuji.rwiths.net/r-withs/tfi0010a.do" target="_blank">
    <div class="reserve-title">
      <Icon class="reserve-icon" name="mdi:calendar" />
      <h2 class="title">ご予約はこちら</h2>
    </div>
  </a>
</section>
<!---------------------------- styles --------------------------------->


<style lang="scss">
  @use '../styles/variables' as *;
  @use '../styles/mixins' as *;

  .reserve {
    margin: 0 auto;
    padding: 10px 5.66% 0;
  }

  .reserve-link {
    padding: 5px 10% 0;
  }

  .reserve-link:hover {
    
  }

  .reserve-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 160px;
    gap: 2%;
    background-color: #ffffff;
  }

  .reserve-icon {
    width: 30px;
    height: 30px;
  }
</style>