---
import { Icon } from 'astro-icon/components';
---
<section class="reserve-pet">
  <a href="" class="reserve-pet-link">
    <h2 class="title">※ペット同伴者様は、事前確認をお願いいたします。</h2>
  </a>
</section>
<section class="reserve" id="reserve">
  <a class="reserve-link" href="https://ichi-fuji.rwiths.net/r-withs/tfi0010a.do" data-reserve-trigger target="_blank" data-fade rel="noopener noreferrer">
    <div class="reserve-title" data-fade>
      <Icon class="reserve-icon" name="mdi:calendar" />
      <h2 class="title">ご予約はこちら</h2>
    </div>
  </a>
</section>
<!---------------------------- styles --------------------------------->


<style lang="scss">
  @use '../styles/variables' as *;
  @use '../styles/mixins' as *;

  .reserve-pet {
    display: inline-block;
    padding: 10px 5.66% 0;
    transition: all 0.3s ease;

    &:hover {
      opacity: 0.7;
    }
  }

  .reserve {
    margin: 0 auto;
    padding: 10px 5.66% 0;
    transition: all 0.3s ease;
  }

  .reserve:hover {
    opacity: 0.7;
  }

  .reserve-link {
    padding: 5px 10% 0;
  }

  .reserve-link:hover {
    opacity: 0.7;
  }

  .reserve-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 160px;
    gap: 2%;
    background-color: #ffffff;
    font-weight: 700;
  }

  .reserve-icon {
    width: 30px;
    height: 30px;
  }
</style>