---
import { Image } from 'astro:assets';

// 1階写真
import item1 from '../assets/images/item04.jpg';
// 2階写真
import item2 from '../assets/images/item05.jpg';

// 設備
// ドッグラン写真
import item3 from '../assets/images/item06.jpg';
// キャットウォーク写真
import item4 from '../assets/images/item07.jpg';

// 外観写真
import item5 from '../assets/images/item01.jpg';
---

<section class="section" id="rooms">
  <div class="inner">
    <div class="section-title">
      <h2 class="title">客室</h2>
    </div>
    <p class="description">
      富士山を望む古民家を、家族みんなで過ごせる一棟貸切の宿へ。
    </p>
    <p class="description">
      1階には、動物たちと一緒にくつろげる開放的な空間を。
      2階には、静かに体を休めるための寝室と浴室を。
    </p>
    <p class="description">
      人にも、動物にも、それぞれが心地よく過ごせる場所を整えました。
    </p>
    <div class="content-area">
      <ul class="room-list">
        <li class="room-item">
          <figure class="room-img-wrap">
            <Image class="room-img" src={ item5 } alt="" />
            <h3 class="room-title">外観</h3>
          </figure>
          <p class="room-text">
            富士のふもとに、集う場所。
          </p>
        </li>
        <li class="room-item">
          <figure class="room-img-wrap">
            <Image class="room-img" src={ item1 } alt="" />
            <h3 class="room-title">1階</h3>
          </figure>
          <p class="room-text">
            何もしない時間が、心地いい。
          </p>
        </li>
        <li class="room-item">
          <figure class="room-img-wrap">
            <Image class="room-img" src={ item2 } alt="" />
            <h3 class="room-title">2階</h3>
          </figure>
          <p class="room-text">
            富士と眠り、富士と目覚める。
          </p>
        </li>
        <!-- ここから設備なので、あとから独立させる -->
        <li class="room-item">
          <figure class="room-img-wrap">
            <Image class="room-img" src={ item3 } alt="" />
            <h3 class="room-title">ドッグラン</h3>
          </figure>
          <p class="room-text">風を感じて、のびやかに。</p>
        </li>
        <li class="room-item">
          <figure class="room-img-wrap">
            <Image class="room-img" src={ item4 } alt="" />
            <h3 class="room-title">キャットウォーク</h3>
          </figure>
          <p class="room-text">気ままに過ごす、猫の居場所。</p>
        </li>
      </ul>
      <div class="more-wrap">
        <a class="btn view-more" href="https://ichi-fuji.jp/room/">客室について詳しく見る</a>
        <a class="btn inside-map" href="https://ichi-fuji.jp/wp-content/uploads/2025/10/ichi_layout-1.pdf">館内図を見る</a>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  @use '../styles/variables' as *;
  @use '../styles/mixins' as *;

  .room-item {
    display: flex;
    align-items: center;
    margin-top: 80px;
  }

  .room-item:nth-child(even) {
    flex-direction: row-reverse;
  }

  .room-item:nth-child(1) .room-img-wrap,
  .room-item:nth-child(3) .room-img-wrap,
  .room-item:nth-child(5) .room-img-wrap, {
    margin-left: -12vw;
  }

  .room-item:nth-child(2) .room-img-wrap,
  .room-item:nth-child(4) .room-img-wrap, {
    margin-right: -12vw;
  }

  .room-img-wrap {
    position: relative;
    max-width: 700px;
  }

  .room-title {
    position: absolute;
    display: inline-block;
    text-align: center;
    top: -20px;
    max-width: 150px;
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
  }

  .room-item:nth-child(even) .room-title {
    left: -16%;
  }

  .room-item:nth-child(odd) .room-title {
    right: -16%;
  }

  .room-text {
    margin: 0 auto;
  }

  .more-wrap {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-top: 40px;
  }

</style>