---
---

<section class="section" id="rooms">
  <div class="inner">
    <div class="section-title">
      <h2 class="title">客室</h2>
    </div>
  </div>
</section>

<style lang="scss">
  @use '../styles/variables' as *;
  @use '../styles/mixins' as *;
</style>